
html {
      min-height: 100%;
      overflow: hidden;
}

body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(78, 212, 16, 1);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background: rgb(131,58,180);
      background: linear-gradient(90deg, rgba(131,58,180,1), rgba(253,29,29,1), rgba(252,176,69,1));
}


.line {
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgb(78, 212, 16);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

.typewriter-effect {
      animation: typewriter 4s steps(35) 1s 1 normal both,
      blinkTextCursor 500ms steps(35) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 12em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgb(78, 212, 16, 1);
      }
      to {
            border-right-color: transparent;
      }
}
